<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        <span>姓：</span> <input type="text" v-model="firstname"><br>
        <span>名：</span> <input type="text" v-model="lastname"><br>
        <span>全名：</span> <span>{{firstname}}-{{lastname}}</span><br>
        <span>全名：</span><span>{{fullname()}}</span>

    </div>
</body>
<script>
    Vue.config.productionTip = false
    const vm = new Vue({
        el: '#root',
        data: {
            firstname: 'da',
            lastname: 'hua',
            url: 'https://github.com/wmz19114?tab=projects',

        },
        methods: {
            fullname() {
                return this.firstname + '-' + this.lastname //注意this指向
            }
        },
    })
</script>

</html>